<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=7" />
<title>{#sitename#}</title>
<!-- title>{#pagetitle#}-{#sitename#}</title -->
<meta content="{#metakey#}" name="keywords" />
<meta content="{#metacon#}" name="description" />
<link href="{#RP#}base/templates/css/common.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{#RP#}base/js/base.js"></script>
<script type="text/javascript" src="{#RP#}base/js/common.js"></script>
<script type="text/javascript" src="{#RP#}base/js/form.js"></script>
<script type="text/javascript" src="{#RP#}base/js/blockui.js"></script>
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Fe5065d95ccf5905598766fb87f06205b' type='text/javascript'%3E%3C/script%3E"));
</script>
<!-reload-!>
</head>
<body {#background#}>
