<style>
.pw_main1{background:url(images/leftarrow.gif) 0px 4px no-repeat;font:bold 12px/22px Verdana, Arial, Helvetica, sans-serif;color:#434242;}
.pw_main2{margin:0px 0px 14px 18px;font:12px/22px Verdana, Arial, Helvetica, sans-serif;color:#333;}
a.pw_main3,a.pw_main3:link,a.pw_main3:active,a.pw_main3:visited{margin-left:18px;height:100%;font:bold 12px/22px Verdana, Arial, Helvetica, sans-serif;color:#434242; text-decoration:none;}
a.pw_main_3:hover{color:#ff0000;text-decoration:underline}
</style>
<div class="pw_main1"><a href="{#RP#}page/case/peidian.php" class="pw_main3">机柜配电解决方案</a></div>
<div class="pw_main2">从电源输入源头到机柜设备电源分配，100%保证您的设备用电安全；独特的</div>
<div class="pw_main1"><a href="{#RP#}page/case/xianlan.php" class="pw_main3">机柜线缆管理解决方案</a></div>
<div class="pw_main2">线缆管理：不该被遗忘的角落。秉承保障安全、便于管理、利于散热、美观大</div>
<div class="pw_main1"><a href="{#RP#}page/case/sanre.php" class="pw_main3">机柜散热解决方案</a></div>
<div class="pw_main2">机柜整体散热、局部散热体系；智能控制开关，超低能源消耗，绿色环保；先</div>