<style>
.pw_mainc1{width:124px;height:59px;float:left;background:url(images/left2.gif) 0px 0px no-repeat;position:relative;}
.pw_mainc2{width:139px;height:59px;float:left;background:url(images/left2.gif) -124px 0px no-repeat;position:relative;}
.pw_main_c2{height:100%;margin:0px;font:12px/18px 'Microsoft YaHei','SimSun',Arial,Sans-Serif;color:#505050;}
a.pw_main_c3,a.pw_main_c3:link,a.pw_main_c3:active,a.pw_main_c3:visited{height:100%;display:block;font:12px/18px 'Microsoft YaHei','SimSun',Arial,Sans-Serif;color:#ffffff; text-decoration:none}
a.pw_main_c3:hover{color:#ffffff;text-decoration:underline}
</style>
<div class="pw_mainc1">
<div class="pw_main_c2"><a href="{#RP#}page/contact/contact.php" class="pw_main_c3"></a></div>
</div>
<div class="pw_mainc2">
<div class="pw_main_c2"><a href="{#RP#}page/contact/feedback.php" class="pw_main_c3"></a></div>
</div>