<!-start->
<link href="images/dropdownmenu_dolphin/{#tempcolor#}.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{#CP#}js/dropdownmenu_dolphin.js"></script>
<div class="dropdownmenu_dolphin">
<!-start->
<!-menu->
<div id="dorpmenu_dolphin{#n#}" class="dorpmenu_dolphin">
	<a href="{#menuurl#}" class="dorpmenu_dolphin" id="dorpmenu{#n#}">{#menu#}</a>
</div>
<div id="subdorpmenu_dolphin{#n#}" class="subdorpmenu_dolphin">
{#smenustr#}
</div>
<!-menu->
<!-list->
<li id="dropmenuli_dolphin{#id#}" ><a href="{#menuurl#}" class="subdorpmenu_dolphin">{#menu#}</a></li>
<!-list->
<!-end->
</div>
<script>document.getElementById("dorpmenu_dolphin0").className='dorpmenu_dolphin_current';
document.getElementById("dorpmenu_dolphin0").getElementsByTagName("a")[0].className='dorpmenu_dolphin_current';</script>
<!-end->