<link href="css/searchform_dolphin.css" rel="stylesheet" type="text/css" />
<script language="javascript" src="{#CP#}js/searchform.js"></script>

<div class="globalsearchformzone">

<form id="globalsearchform" method="get" action="{#RP#}search/index.php">
  <div class="globalsearchform1">
  <input name="imageField" id="button" type="image" src="images/searchr.gif" class="imgbutton">
  </div>
   <div class="globalsearchform">
     <input name="key" type="text" id="globalsearchform_key" value="{#key#}" size="26" class="input">
  </div>
</form>
</div>
