/* ============·­Ò³============== */

div#showpages {
clear:both;
padding:0px;
margin:20px 0px;
width:100%;
height:30px;
white-space: nowrap;
}

div#pagesinfo {
float:left;
padding:3px 8px;
white-space: nowrap;
}

div#pages {
float:right;
padding-right:8px;
white-space: nowrap;
}

div#pages ul{
margin:0;
padding:0;
}

div#pages a:link,div#pages a:visited,div#pages a:active{
color:#333333;
text-decoration: none;
}

div#pages a:hover{
color:#333333;
text-decoration: none;
}

div#pages li{
margin:3px;
padding:2px 5px;
list-style-type: none;
float:left;
background:#cccccc;
color:#333333;
border:1px #79b601 solid;
white-space: nowrap;
}

div#pages li.pagesnow{
color:#333333;
background-color:#ffffff;
white-space: nowrap;
border:1px #bbbbbb solid;
}

div#pages li.pbutton{
color:#333333;
background-color:#cccccc;
padding:3px 5px 1px 5px;
white-space: nowrap;
border:1px #bbbbbb solid;
}

div#pages li.opt{
color:#333333;
padding:0px 2px;
white-space: nowrap;
border:0px;
background:#fff;
}