<!-start->
<link href="css/photopicmemo_cyrano.css" rel="stylesheet" type="text/css" />

<div style="margin:20px 66px 0px 66px;"><img border=0 alt="" src="images/line.gif" /></div>
<ul class="photopicmemo_cyrano">
<!-start->

<!-list->
	<li>
		<div class="picFit" style="width:{#picw#}px;height:{#pich#}px">
			<a href="{#link#}" target="{#target#}" ><img src="{#src#}" border="0" style="width:{#picw#}px;height:{#pich#}px" /></a>
		</div>
		<div class="tm">
			<a href="{#link#}" target="{#target#}" class="title" {#bold#} {#red#} >{#title#}</a>
			<div class="memo">
				{#memo#}
			</div>
		</div>
	</li>
<!-list->

<!-end->
</ul>
<div style="margin:38px 66px 0px 66px;"><img border=0 alt="" src="images/line.gif" /></div>

<script>
$(function() {
$().picFit("{#fittype#}");
});
</script>
<!-end->
