<!-start->
<link href="css/photocontent.css" rel="stylesheet" type="text/css" />
<script type=text/javascript src="{#CP#}js/photocontent.js"></script>

<div id="piccontent">
	<div class="fcenter">
	<table align="center" cellpadding="10" cellspacing="0">
	<tr>
	<td>
	<div id="contentpages"></div>
	</td></tr></table>
	</div>
	<div class="photozone">
	<table align="center" cellpadding="0" cellspacing="0">
	<tr>
	<td align="center">
	<div id="photoview">
	<img src="images/loading.gif" border="0" id="photoloading" class="photoloading">
	</div>
	</td>
	</tr>
	</table>
	
	
	</div>
	<div class="introzone">
	<div class="title">{#title#}</div>
	<div id="memo" class="memo" style="display:{#showmemo#}">{#memo#}</div>
	<div class="bzone">
	  <input type="hidden" id="photoid" value="{#id#}"> 
	<div class="tags" style="display:{#showtag#}">标签：{#tagstr#}</div>
	<div id="banzhu" class="banzhu"></div>
	</div>
	</div>
	
</div>

<!-start->
<!-end->
<!-end->
<!-err1-><div class="notice">当前ID不存在或尚未发布</div><!-err1->
<!-err2-><div class="notice">对不起,本内容设置了阅读权限,您无权访问当前内容</div><!-err2->
