/* ============最新职位============== */

ul.joblist_1{margin:0;padding:0;border:0;}
ul.joblist_1 li{list-style-type: none;padding:0px 5px 0px 15px;height:27px;background:url(../images/lines.gif) 7px 10px no-repeat;}
ul.joblist_1 a.btproj{font: 12px/23px Verdana, Arial, Helvetica, sans-serif;padding:0px 0px 0px 12px;}


