<link href="css/news_search_dolphin.css" rel="stylesheet" type="text/css" />
<script language="javascript" src="{#CP#}js/searchform.js"></script>
<SCRIPT language="javascript" src="{#CP#}js/selectBox.js"></SCRIPT>
<div class="newssearchformzone">
<form id="newssearchform" method="get" action="{#RP#}news/index.php">
  <div class="newssearchform">
    <select name="catid" id="catid" class="box" style="display:none; background:#ffffff; width:140px; height:19px;">
      <option value="0" >请选择分类</option>
      
	  {#catlist#}
    
    </select> 
	<script>
	makeSelectBox('catid','{#RP#}');
	</script>
  </div>

    <div class="newssearchform">
    <input name="key" type="text" id="newssearchform_key" value="{#key#}" style="width:138px;" class="inputtext">
  </div>
  <div class="newssearchform2">
  <input name="imageField" id="button" type="image" src="images/search5.gif" >
  </div>
</form>
</div>
